<html>

  <head>
  <title>DeathKrow</title>
  <div>
      <H1><href = '/'>DeathKrow</H1>
  </div>
  </head>

          <div>
              <p>published: 27.10.2018, 12:14</p>
              <h2><a href="">My first post</a></h2>
              <p>
                Achievement of dreams<br>
                Indefinably measured<br>
                To each man, his own
              </p>
          </div>

          <div>
              <p>published: 27.10.2018, 12:14</p>
              <h2><a href="">My second post</a></h2>
              <p>
                Two bytes meet.  The first byte asks, “Are you ill?”<br>
                The second byte replies, “No, just feeling a bit off.”
              </p>
          </div>
      </body>

</html>
